.purple {
	background-color: #be95c4;
}

.orange {
	background-color: #f69838;
}

.orange2 {
	background-color: #ffc513;
}

.green {
	background-color: #21a33c;
}

.card.green {
	background-color: #21a33c;
}

.red {
	background-color: #fe5037;
}

.yellow {
	background-color: #ffc513;
}

.white {
	background-color: white;
}

* {
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

h2 {
	font-size: clamp(22px, 4.5vw, 44px);
	font-weight: 600;
}

h3 {
	font-size: clamp(12px, 2vw, 24px);
}

p {
	font-size: clamp(12px, 2vw, 24px);
}

#wrap {
	background: url(resume-image/십자배경-white.png) repeat #F9EACB;
	background-size: 40px;
}

.layout-box {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

/* 헤더 */
header {
	padding: 40px 37.25px 0;
	margin-bottom: 85px;
}

.header-up-icon {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.header-up-left img {
	width: 50%;
	animation: no-moving-rotate 10s linear infinite;
}

.header-up-right img {
	width: 40%;
	margin-left: 60%;
	animation: no-moving-rotate 5s linear infinite;
}

/* 헤더 프로필부분 */
.profile {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.profile-photo-circle {
	width: 25%;
	height: 25%;
	border-radius: 50%;
	border: 5px solid;
	background-color: black;
	overflow: hidden;
	z-index: 10;
}

.profile-photo-circle>img {
	width: 100%;
}

.profile-name-tag {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	position: relative;
}

.profile-text {
	position: relative;
	z-index: 1;
}

.my_name {
	font-size: clamp(28px, 5vw, 60px);
	font-weight: bold;
}

.my_mbti {
	text-align: center;
}

.name-bg {
	width: 50%;
	position: relative;
	transform: translate(50%, -70%);
	z-index: 0;
}

.header-down-icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	transform: translateY(-100%);
}

.header-down-left>img {
	width: 50%;
	animation: no-moving-rotate 10s linear infinite;
}

.header-down-right>img {
	width: 40%;
	margin-left: 60%;
}

/* 메인 그리드 */
.contents-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
	gap: 60px;
	padding: 0 40px 0 20px;
}

/* about me 초록색 */
.main-about-me {
	position: relative;
}

.card-wrap {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}

.card {
	width: 100%;
	height: 100%;
	position: relative;
	border: 4px solid;
	border-radius: 8px;
	background-color: white;
	padding: 20px;
}

.btn-container {
	position: absolute;
	padding: 0 20px;
	top: -46px;
	left: 0;
	z-index: 1;
	width: 33%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 4px solid;
	border-bottom: none;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.circle {
	width: 15px;
	height: 15px;
	flex-shrink: 0;
	border-radius: 50%;
}

.green-card {
	position: relative;
}

.left {
	position: relative;
	align-items: flex-start;
}

.shadow {
	position: relative;
	width: 100%;
	height: 100%;
	top: -97%;
	left: 3%;
	z-index: 0;
}

.shadow .card {
	border: 3px solid;
}

.top-left-radius-none {
	border-top-left-radius: 0;
}

.contents {
	width: 100%;
	height: 100%;
	color: black;
	background-color: white;
	padding: 0 75px 25px;
}

.contents>h2 {
	padding-top: 25px;
}

.contents>p {
	padding-top: 25px;
}

/* experience */

.three-depth-card {
	width: 100%;
	position: relative;
	overflow: visible;
}

.first-depth-card {
	width: 100%;
	border: 4px solid;
	border-radius: 8px;
	position: relative;
	z-index: 3;
}


.card-contents {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contents-head-bar {
	width: 90%;
	height: 33px;
	margin-top: 20px;
	border-radius: 4px;
}

.experience {
	padding: 26px 75px 25px;
}

.experience-list {
	padding: 20px 60px 25px;
}

.experience-list>li:not(:last-child) {
	padding-bottom: 30px;
}

.second-depth-card {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 4px solid;
	z-index: -1;
	top: 4%;
	left: -3%;
}

.third-depth-card {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 4px solid;
	z-index: -2;
	top: 8%;
	left: -6%;
}

/* progress 쓸때 써야하는거 */
progress {
	appearance: none;
	-webkit-appearance: none;
	width: 90%;
}

/* 전체 바 */
.gage::-webkit-progress-bar {
	background-color: #1e1c1c;
	border-radius: 10px;
}

/* 진행 바 */
.html::-webkit-progress-value {
	background-color: #193ccb;
	border-radius: 10px;
}

.js::-webkit-progress-value {
	background-color: #9cd517;
	border-radius: 10px;
}

.jq::-webkit-progress-value {
	background-color: #d67515;
	border-radius: 10px;
}

.back::-webkit-progress-value {
	background-color: #bf0c60;
	border-radius: 10px;
}

.monster-ball {
	width: 100%;
	margin-bottom: 0;
}

.monster-ball>img {
	position: relative;
	bottom: -15%;
	width: 15%;
	transform-origin: center;
	animation: rotate 6s ease-in-out infinite;
}

footer {
	text-align: center;
	height: 300px;
	background-color: #d9d9d9;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	font-size: 100%;
}

.semi-bold {
	font-weight: 600;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	50% {
		margin-left: 80vw;
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(0);
	}

}

@keyframes no-moving-rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}

}