html {
    font-size: 10px;
}

#wrap {
    background: url(resume-image/십자배경-white.png) repeat #F9EACB;
    background-size: 40px;
}

.layout-box {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: gird;
    grid-template-columns: 1fr;
    grid-template-rows: 615px 1fr;
}

header {
    padding: 40px 37.25px 0;
    margin-bottom: 85px;
}

.header-up-icon {
    display: flex;
    justify-content: space-between;
}

.header-up-icon img {
    width: 13.2rem;
    height: 13.8rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo-circle {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    border: 5px solid;
    background-color: black;
    overflow: hidden;
    z-index: 10;
}

.profile-photo-circle>img {
    width: 30rem;
}

.profile-name-tag {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile-text {
    position: absolute;
    z-index: 1;
}

.my_name {
    font-size: 6rem;
    font-weight: bold;
}

.my_mbti {
    text-align: center;
    font-size: 4.4rem;
    font-weight: 600;
}

.name-bh-container {
    position: relative;
}

.name-bg {
    width: 58rem;
    height: 28rem;
    position: relative;
    transform: translateY(-30%);
    z-index: 0;
}

.header-down-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transform: translateY(-60%);
}

.header-down-left>img {
    width: 17rem;
}

.header-down-right>img {
    width: 24rem;
    height: 10rem;
}

.contact {
    position: absolute;
    top: 73%;
}

.contents-list {
    display: gird;
    grid-template-columns: 1fr 1fr;

}

progress {
    appearance: none;
    -webkit-appearance: none;
}

/* 전체 바 */
.gage::-webkit-progress-bar {
    background-color: #1e1c1c;
    border-radius: 10px;
}

/* 진행 바 */
.html::-webkit-progress-value {
    background-color: #193ccb;
    border-radius: 10px;
}

.js::-webkit-progress-value {
    background-color: #9cd517;
    border-radius: 10px;
}

.jquery::-webkit-progress-value {
    background-color: #d67515;
    border-radius: 10px;
}

.backlanguage::-webkit-progress-value {
    background-color: #bf0c60;
    border-radius: 10px;
}

.larva {
    width: 100%;
}

.larva>img {
    width: 18rem;
    height: 8.5rem;
    transform-origin: center;
    animation: crawl 6s ease-in-out infinite;
}

footer {
    text-align: center;
    height: 300px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
}

.semi-bold {
    font-weight: 600;
}

@keyframes crawl {
    0% {
        transform: translateX(0) scaleX(1) rotate(0);
    }

    45% {
        transform: translateX(600%) scaleX(1) rotate(15deg);
    }

    55% {
        transform: translateX(600%) scaleX(-1) rotate(-15deg);
    }

    95% {
        transform: translateX(0) scaleX(-1) rotate(15deg);
    }

    100% {
        transform: translateX(0) scaleX(-1) rotate(0);
    }
}