@import url('https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css');

.purple {
	background-color: #be95c4;
}

.orange {
	background-color: #f69838;
}

.orange2 {
	background-color: #ffc513;
}

.green {
	background-color: #21a33c;
}

.card.green {
	background-color: #21a33c;
}

.red {
	background-color: #fe5037;
}

.red2 {
	background-color: #b93f2c;
}

.purple2 {
	background-color: #a25eab;
}

.white {
	background-color: white;
}

* {
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

h2 {
	font-size: clamp(24px, 4.5vw, 44px);
	font-weight: 600;
}

h3 {
	font-size: clamp(12px, 2vw, 24px);
}

p {
	font-size: clamp(12px, 2vw, 24px);
}

.emphasize {
	font-weight: 600;
}

#wrap {
	background: url(../assets/background-deco.png) repeat #F9EACB;
	background-size: 40px;
}

.layout-top {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	/* padding: 0 60px; */
}

/* 헤더 */
header {
	padding: 40px 37.25px 0;
	margin-bottom: 46px;
}

/* 헤더 프로필부분 */
.profile {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

/* 점 메뉴 아이콘 */
.profile::before {
	content: "";
	position: absolute;
	background: url(../assets/dots.png) no-repeat center;
	background-size: 100%;
	width: 10%;
	height: 15%;
	left: 0;
	top: 0;
	animation: spin 10s linear infinite;
}

/* 꽃 아이콘 */
.profile::after {
	content: "";
	position: absolute;
	background: url(../assets/flower.png) no-repeat center;
	background-size: 100%;
	width: 15%;
	height: 18.8%;
	right: 0;
	top: -0.3%;
	animation: spin 15s linear infinite;
}

.profile-photo-circle {
	width: 30%;
	border-radius: 50%;
	border: 5px solid #575757;
	background-color: black;
	overflow: hidden;
	z-index: 10;
}

.profile-photo-circle>img {
	width: 100%;
}

.profile-name-tag {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.profile-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 1;
}

.my_name {
	font-size: clamp(22px, 4.5vw, 60px);
	font-weight: bold;
}

.my_mbti {
	text-align: center;
}

.name-bg-container {
	position: relative;
}

/* 방패 아이콘 */
.name-bg-container::before {
	content: "";
	position: absolute;
	background: url(../assets/yellow-circle.png) no-repeat center;
	background-size: 100%;
	width: 15%;
	height: 50%;
	bottom: -10%;
	left: -5%;
	animation: spin 20s linear infinite;
}

.name-bg {
	width: 60%;
	position: relative;
	transform: translate(33%, -65%);
	z-index: 0;
}

/* 헤더 아랫부분 아이콘 */
.header-bottom-icon {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	transform: translateY(-100%);
}

.header-bottom-right {
	width: 20%;
	height: 100%;
	min-height: 80px;
	display: flex;
	justify-content: flex-end;
	position: relative;
	z-index: 0;
}


.heart-wrap {
	width: 100%;
	padding: 10px;
	display: flex;
	border: 3px solid #575757;
}

.heart-wrap>span {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* 하트 */
.heart-wrap img {
	flex-shrink: 0;
	width: 70%;
	position: relative;
	z-index: 1;
}

.first-heart {
	animation: light 3s linear infinite;
}

.second-heart {
	animation: light 3s 1s linear infinite;
}

.third-heart {
	animation: light 3s 2s linear infinite;
}

.heart-wrap-deco {
	width: 100%;
	height: 100%;
	border: 3px solid #575757;
	position: absolute;
	z-index: -1;
	left: 5%;
	top: 8%;
}

.second {
	left: 10%;
	top: 16%;
	z-index: -2;
}

/* 메인 그리드 */
.contents-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	column-gap: 105px;
	row-gap: 60px;
	padding: 0 20px;
	position: relative;
}

/* about me 초록색 */
.main-about-me {
	position: relative;
}

.card-wrap {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}

.card {
	width: 100%;
	height: 100%;
	position: relative;
	border: 4px solid #575757;
	border-radius: 8px;
	background-color: white;
	padding: 20px;
}

.btn-container {
	position: absolute;
	padding: 0 20px;
	top: -46px;
	left: 0;
	z-index: 1;
	width: 33%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 4px solid #575757;
	border-bottom: none;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.circle {
	width: 15px;
	height: 15px;
	flex-shrink: 0;
	border-radius: 50%;
}

.green-card {
	position: relative;
}

.left {
	position: relative;
	align-items: flex-start;
}

.shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 16px;
	left: 16px;
	z-index: 0;
}

.shadow .card {
	border: 3px solid #575757;
}

.top-left-radius-none {
	border-top-left-radius: 0;
}

.contents {
	width: 100%;
	color: black;
	background-color: white;
	border: 4px solid #575757;
	border-radius: 8px;
	padding: 0 75px;
}

.contents>h2 {
	padding-top: 40px;
}

.contents>p {
	padding-top: 25px;
}

.contents>p:last-child {
	padding-bottom: 30px;
}

/* experience */
.first-depth-card {
	width: 100%;
	height: calc(100% - 16px);
	position: relative;
	z-index: 1;
	border-radius: 8px;
}

.card-contents {
	width: 100%;
	height: calc(100% - 8px);
	display: flex;
	border: 4px solid #575757;
	border-radius: 8px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contents-head-bar {
	width: 90%;
	height: 33px;
	margin-top: 20px;
	border-radius: 4px;
}

.experience {
	padding: 26px 75px 25px;
}

.experience-list {
	padding: 20px 60px 9.5px;
}

.study-period {
	padding-bottom: 10px;
}

.experience-list>li:not(:last-child) {
	padding-bottom: 30px;
}

.second-depth-card {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 3px solid #575757;
	z-index: -1;
	top: 16px;
	left: -16px;
}

.third-depth-card {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 3px solid #575757;
	z-index: -2;
	top: 32px;
	left: -32px;
}

.contents-head-bar:last-child {
	margin-bottom: 23px;
}

/* skills시작 */
.under-depth-card-wrap {
	position: relative;
	z-index: 1;
}

.under-depth-card {
	width: calc(100% + 16px);
	padding: 20px;
	border: 4px solid #575757;
	border-radius: 8px;
}

.under-card-contents {
	border: 4px solid #575757;
	border-radius: 8px;
	padding-top: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	position: relative;
	z-index: 1;
}

.under-card-contents2 {
	border: 4px solid #575757;
	border-radius: 8px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	position: relative;
	z-index: 1;
}

.progress-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.progress-wrap:hover>h3 {
	font-size: 28px;
}

.progress-wrap>h3 {
	width: 100%;
	padding-left: 5%;
	text-align: left;
	transition: font-size 0.3s
}

/* progress 쓸때 써야하는거 */
.gage {
	appearance: none;
	-webkit-appearance: none;
	width: 90%;
	margin-bottom: 18px;
}

/* 전체 바 */
.gage::-webkit-progress-bar {
	background-color: #d0cbcb;
	border-radius: 10px;
}

/* 진행 바 */
.html::-webkit-progress-value {
	background-color: #fc2c2c;
	border-radius: 10px;
}

.js::-webkit-progress-value {
	background-color: #fb9c3c;
	border-radius: 10px;
}

.jq::-webkit-progress-value {
	background-color: #1f9716;
	border-radius: 10px;
}

.back::-webkit-progress-value {
	background-color: #383bf4;
	border-radius: 10px;
}

.back {
	margin-bottom: 40px;
}

.first-under-depth {
	position: relative;
	width: 90%;
	height: 50px;
	top: -15px;
	left: 6.6%;
	border: 3px solid #575757;
	border-radius: 6px;
	z-index: -1;
}

.second-under-depth {
	position: relative;
	width: 80%;
	height: 50px;
	top: -30px;
	left: 11.5%;
	border: 3px solid #575757;
	border-radius: 6px;
	z-index: -2;
}

/* experience-img 시작 */
.main-experience-img {
	width: 103%;
	position: relative;
	transform: translateX(-5.55%);
}

.main-experience-img:hover .scroll-container {
	background-image: linear-gradient(to bottom, rgba(170, 170, 170, 0), rgba(0, 0, 0, 0.8));
}

.main-experience-img:hover .scroll {
	opacity: 1;
	transform: translateY(-30%);
	animation: up-down 0.8s ease-in-out alternate infinite;
}

.practice-image {
	width: 100%;
	max-height: 406px;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	gap: 20px;
	overflow-y: scroll;
	position: relative;
}

.practice-image::-webkit-scrollbar {
	width: 4px;
}

.practice-image::-webkit-scrollbar-track {
	background: #A69F9F;
	border-radius: 3px;
}


.practice-image::-webkit-scrollbar-thumb {
	background: #863990;
}

.practice-image::-webkit-scrollbar-thumb:hover {
	background: #c72fdc;
}

.netfilx {
	width: 100%;
	height: 50%;
}

.scroll-container {
	position: absolute;
	width: 96.5%;
	height: 50%;
	bottom: 2.5%;
	pointer-events: none;
	border-radius: 8px;
}

.scroll {
	width: 30%;
	position: absolute;
	bottom: -8%;
	left: 35%;
	opacity: 0;
	transform: translateY(0);
	transition: opacity 0.3s, transform 0.3s;
}


/* strength */
.main-strength {
	position: relative;
	width: 97%;
	left: 32px;
}

.strength {
	padding: 26px 75px 25px;
}

.strength~p {
	padding: 20px 60px 9.5px;
}

.main-strength::after {
	content: "";
	position: absolute;
	background: url(../assets/pink-star.png) no-repeat;
	background-size: 100%;
	width: 105px;
	height: 105px;
	bottom: 5%;
	right: 0;
	z-index: 1;
	animation: spin 20s linear infinite;
}

.main-education {
	position: relative;
	width: 105%;
	height: 50%;
	top: -30%;
	border: 5px solid #575757;
	border-radius: 50%;
	background-color: #FF84C3;
	transform: rotate(-15deg);
}

.education-contents {
	position: relative;
	top: 5%;
	left: 2.5%;
	width: 95%;
	height: 90%;
	border: 3px solid #575757;
	border-radius: 50%;
	transform: rotate(-0.3deg);
}

.to-move-education-text {
	position: absolute;
	left: 12%;
	top: 14%;
}

.monster-ball {
	width: 200%;
	display: flex;
	align-items: flex-end;
}

.monster-ball>img {
	position: relative;
	flex-shrink: 0;
	bottom: -13%;
	width: 15%;
	max-width: 100px;
	transform-origin: center;
	animation: rotate 6s ease-in-out infinite;
}

.monster-ball>img:hover {
	animation-play-state: paused;
}

footer {
	text-align: center;
	height: 300px;
	background-color: #d9d9d9;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	font-size: 100%;
}

.semi-bold {
	font-weight: 600;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	50% {
		margin-left: 100%;
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(0);
	}

}

@keyframes spin {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}

}

@keyframes light {
	0%, 30% {
		opacity: 1;
	}

	33%, 100% {
		opacity: 0.3;
	}
}

@keyframes up-down {
	from {
		transform: translateY(-30%);
	}

	to {
		transform: translateY(0);
	}
}